---
- name: Add influxdata repo
  become: true
  ansible.builtin.deb822_repository:
    name: influxdata
    types: [deb]
    uris: "https://repos.influxdata.com/debian"
    suites:
      - >-
        {{ 'bookworm' if ansible_facts['distribution_release'] == 'trixie'
        else ansible_facts['distribution_release'] }}
    components: [main]
    signed_by: https://repos.influxdata.com/influxdata-archive.key
    state: present
    enabled: true

- name: Update apt and install telegraf
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: telegraf
    state: present

- name: Copy telegraf config
  become: true
  ansible.builtin.template:
    src: templates/telegraf.conf.j2
    dest: /etc/telegraf/telegraf.conf
    owner: root
    group: root
    mode: "0644"
  notify: "Restart {{ telegraf_service_name }}"

- name: "Create telegraf systemd service file"
  become: true
  ansible.builtin.template:
    src: "templates/telegraf.service.j2"
    dest: /etc/systemd/system/{{ telegraf_service_name }}.service
    owner: root
    group: root
    mode: "0644"
  notify: "Restart {{ telegraf_service_name }}"

- name: Flush handlers to ensure service is started
  ansible.builtin.meta: flush_handlers

- name: Check if docker group exists
  ansible.builtin.getent:
    database: group
    key: docker
  register: docker_group
  failed_when: false

- name: Add telegraf user to docker group
  become: true
  ansible.builtin.user:
    name: telegraf
    groups: docker
    append: true
  when: docker_group.ansible_facts is defined
# - name: Install sensors
#   become: true
#   ansible.builtin.apt:
#     name: lm-sensors
#     state: present
